In [2]:
# %load mysettings.py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.set_printoptions(precision=2, suppress=True)
pd.options.display.max_rows = 15
pd.options.display.precision=4

%matplotlib inline

In [3]:
!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
pd.read_csv("ex1.csv", )

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
data = pd.read_csv("csv_mindex.csv", index_col=["key1", "key2"])
data

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [8]:
data.index

MultiIndex(levels=[['one', 'two'], ['a', 'b', 'c', 'd']],
           codes=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 2, 3, 0, 1, 2, 3]],
           names=['key1', 'key2'])

In [9]:
!type ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [10]:
!type ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [11]:
!type ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [12]:
frame = pd.read_excel("ex1.xlsx", "Sheet1")
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [14]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.24.2
pytest: 4.3.1
pip: 19.0.3
setuptools: 40.8.0
Cython: 0.29.6
numpy: 1.16.2
scipy: 1.2.1
pyarrow: 0.11.1
xarray: None
IPython: 7.4.0
sphinx: 1.8.5
patsy: 0.5.1
dateutil: 2.8.0
pytz: 2018.9
blosc: None
bottleneck: 1.2.1
tables: 3.5.1
numexpr: 2.6.9
feather: None
matplotlib: 3.0.3
openpyxl: 2.6.1
xlrd: 1.2.0
xlwt: 1.3.0
xlsxwriter: 1.1.5
lxml.etree: 4.3.2
bs4: 4.7.1
html5lib: 1.0.1
sqlalchemy: 1.3.1
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None
gcsfs: None

In [13]:
df = pd.DataFrame(data={'col1': [1, 2], 'col2': [3, 4]})
df.to_parquet('df.parquet.gzip', compression='gzip') 
pd.read_parquet('df.parquet.gzip')

C:\Users\ai\Anaconda3\lib\site-packages\pyarrow\pandas_compat.py:114: FutureWarning: A future version of pandas will default to `skipna=True`. To silence this warning, pass `skipna=True|False` explicitly.
  result = infer_dtype(pandas_collection)
C:\Users\ai\Anaconda3\lib\site-packages\pyarrow\pandas_compat.py:708: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
C:\Users\ai\Anaconda3\lib\site-packages\pyarrow\pandas_compat.py:735: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
C:\Users\ai\Anaconda3\lib\site-packages\pyarrow\pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

   col1  col2
0     1     3
1     2     4

In [25]:
np.random.seed(510)
data = pd.DataFrame(np.random.randn(7, 3))
data

        0       1       2
0 -0.7091  0.0974  0.0650
1 -0.4042  0.6116  0.0572
2 -1.8831 -0.2602 -0.2743
3  0.1640 -0.7934  0.2500
4  0.1718 -1.3121 -0.2079
5  1.3511  0.0029  0.7596
6 -2.8777  0.8998  0.0258

In [26]:
data.iloc[:4, 1] = np.nan
data.iloc[:2, 2] = np.nan
data

        0       1       2
0 -0.7091     NaN     NaN
1 -0.4042     NaN     NaN
2 -1.8831     NaN -0.2743
3  0.1640     NaN  0.2500
4  0.1718 -1.3121 -0.2079
5  1.3511  0.0029  0.7596
6 -2.8777  0.8998  0.0258

In [35]:
data.dropna(axis="index", thresh=1) # Non NA's count

        0       1       2
0 -0.7091     NaN     NaN
1 -0.4042     NaN     NaN
2 -1.8831     NaN -0.2743
3  0.1640     NaN  0.2500
4  0.1718 -1.3121 -0.2079
5  1.3511  0.0029  0.7596
6 -2.8777  0.8998  0.0258