In [1]:
a = 5

In [2]:
%run hello.py

Hello

In [3]:
# %load hello.py
print("Hello")

Hello

In [4]:
%pwd

'C:\\Users\\ai\\Jupyter_Notebooks'

In [5]:
s = "python"

In [6]:
s[0:3:1] # slicing

'pyt'

In [7]:
s[:3]

'pyt'

In [8]:
lst = [True, False, True, False, True, True]

In [9]:
sum(lst)

4

In [10]:
import numpy as np
arr = np.array([np.nan, 1, np.nan, 2, 6, np.nan])
np.isnan(arr).sum()

3

In [11]:
r = range(1, 11, 1)
type(r)

range

In [12]:
for x in r:
    print(x, end=" ")

1 2 3 4 5 6 7 8 9 10

In [13]:
list(r)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
t = 1, 2, 3
type(t)

tuple

In [15]:
a, b, c = t
print(a)
print(b)
print(c)

1
2
3

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print("{0}, {1}, {2}".format(a, b, c))

1, 2, 3
4, 5, 6
7, 8, 9

In [17]:
nums = list(range(1, 8))
nums

[1, 2, 3, 4, 5, 6, 7]

In [18]:
nums.append(8)
nums

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
nums.insert(4, (20, 30))

In [20]:
nums

[1, 2, 3, 4, (20, 30), 5, 6, 7, 8]

In [21]:
nums.pop(len(nums) - 1)

8

In [22]:
nums

[1, 2, 3, 4, (20, 30), 5, 6, 7]

In [23]:
nums.remove(1)

In [24]:
nums

[2, 3, 4, (20, 30), 5, 6, 7]

In [25]:
np.random.randint(1, 46, 6, )

array([39, 36, 27, 20, 45, 30])

In [26]:
from random import randint, sample
randint(1, 45)

20

In [27]:
myball = sample(range(1, 46), 6)
myball.sort() # instance method
myball

[1, 3, 16, 22, 30, 33]

In [28]:
myball = sample(range(1, 46), 6)
sorted(myball)

[19, 20, 22, 37, 41, 44]

In [29]:
myball

[22, 41, 37, 20, 19, 44]

In [30]:
i = 0
for x in ["a", "b", "c"]:
    print("{0}: {1}".format(i, x))
    i += 1

0: a
1: b
2: c

In [31]:
for (i, x) in enumerate(["a", "b", "c"]):
    print("{0}: {1}".format(i, x))

0: a
1: b
2: c

In [32]:
z = zip([1, 2, 3], ["a", "b", "c"])
z # generator

In [33]:
list(z)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [34]:
z = zip([1, 2, 3], ["a", "b", "c"], ["가", "나", "다"])
list(z)

[(1, 'a', '가'), (2, 'b', '나'), (3, 'c', '다')]

In [35]:
list(zip(["A", "B", "C"], ["a", "b", "c"]))

[('A', 'a'), ('B', 'b'), ('C', 'c')]

In [36]:
tup = (["A", "B", "C"], ["a", "b", "c"])
list(zip(*tup))

[('A', 'a'), ('B', 'b'), ('C', 'c')]

In [37]:
mydict = {"a": 1, "b": 2}

In [38]:
mydict["c"] = 3
mydict

{'a': 1, 'b': 2, 'c': 3}

In [39]:
mydict["a"]

1

In [40]:
mydict["b"] = 10
mydict

{'a': 1, 'b': 10, 'c': 3}

In [41]:
mydict.keys()

dict_keys(['a', 'b', 'c'])

In [42]:
mydict.values()

dict_values([1, 10, 3])

In [43]:
mydict.items()

dict_items([('a', 1), ('b', 10), ('c', 3)])

In [44]:
dict([('a', 1), ('b', 10), ('c', 3)])

{'a': 1, 'b': 10, 'c': 3}

In [45]:
mydict

{'a': 1, 'b': 10, 'c': 3}

In [46]:
del mydict["c"]

In [47]:
mydict

{'a': 1, 'b': 10}

In [48]:
mydict.pop("a")

1

In [49]:
mydict

{'b': 10}

In [50]:
{1, 2, 2, 2, 3, 4}

{1, 2, 3, 4}

In [51]:
data = ["python", "data", "analysis"]
for x in map(str.upper, data):
    print(x)

PYTHON
DATA
ANALYSIS

In [52]:
def add_numbers(x, y):
    return x + y

In [53]:
add_numbers(2, 3)

5

In [54]:
add_five = lambda x: add_numbers(5, x)

In [55]:
add_five(x = 10)

15

In [56]:
from functools import partial

In [57]:
add_five = partial(add_numbers, y = 10)

In [58]:
add_five(x = 5)

15

In [59]:
from itertools import groupby

In [61]:
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

In [62]:
get_first_letter = lambda x: x[0]

In [64]:
groupby(names, get_first_letter)

In [66]:
names.sort()
for grp_key, grp_iter in groupby(names, get_first_letter):
    print(grp_key, list(grp_iter))

A ['Adam', 'Alan', 'Albert']
S ['Steven']
W ['Wes', 'Will']

In [67]:
with open("textfile.txt", encoding="UTF-8") as f:
    lines = [line.rstrip() for line in f]

In [68]:
lines

['별과 우리의 그들은 발휘하기 듣는다. 이상 청춘은 그러므로 우리 수 힘차게 유소년에게서 그리하였는가? 사는가 있는 밝은 그리하였는가? 같이 인간에 생의 끓는다. 내려온 아니더면, 생의 웅대한 우는 사막이다. 자신과 보이는 방황하여도, 트고, 내는 노년에게서 무엇을 청춘의 남는 것이다. 보이는 곧 물방아 크고 청춘이 것이다. 불어 청춘 피어나기 같이, 따뜻한 황금시대를 천하를 운다. 열락의 노래하며 고동을 영원히 있다. 청춘을 주며, 뭇 찾아다녀도, 피가 주는 봄바람이다.',
 '',
 '이 불어 인간은 관현악이며, 생명을 내는 방지하는 가진 끓는다. 가치를 구하지 물방아 할지니, 목숨을 생의 대한 동력은 피어나는 아니다. 풀이 불러 거친 뭇 뿐이다. 그들은 너의 트고, 실현에 피는 커다란 있음으로써 하여도 소담스러운 아니다. 살 없으면 크고 보라. 부패를 그들은 이것은 봄바람이다. 그들은 이상 그들의 그들에게 꽃 가는 봄바람이다. 사랑의 보내는 들어 보는 날카로우나 굳세게 같으며, 기쁘며, 인간의 것이다. 인도하겠다는 것은 원질이 유소년에게서 붙잡아 귀는 뜨고, 봄바람이다. 청춘에서만 우리의 구하기 것이다. 웅대한 청춘 있는 청춘의 붙잡아 것은 굳세게 듣기만 있으며, 사막이다.',
 '',
 '없는 맺어, 목숨을 역사를 얼음이 용기가 보이는 공자는 구하기 봄바람이다. 보이는 앞이 귀는 것은 있는 위하여서. 밝은 생명을 시들어 그들의 힘있다. 불어 가치를 그들은 옷을 것은 예가 바로 위하여서. 맺어, 꽃 보이는 그것을 불어 끓는다. 피어나기 그와 우리의 온갖 굳세게 이것이야말로 이상은 못하다 쓸쓸하랴? 투명하되 관현악이며, 구하지 가는 지혜는 반짝이는 우리의 오아이스도 있다. 천고에 인생의 피가 이상은 얼마나 인간의 이성은 피다. 석가는 소금이라 사는가 풀이 황금시대의 심장의 그들의 것이다. 커다란 있는 얼음 청춘의 청춘의 청춘을 인생의 하였으며, 칼이다. 꽃이 꽃 이상 꽃이 거친 풍부하게 것이다.']